# Proje Ayarları
PROJECT_NAME=Base Project
VERSION=1.0.0
ADMIN_API_VERSION=/v1
MERCHANT_API_VERSION=/v1
PAYMENT_API_VERSION=/v1
ENVIRONMENT=dev
DEBUG=True

# Veritabanı Ayarları
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=base


# Admin Ayarları
SUPER_ADMIN_EMAIL=admin@base.com
SUPER_ADMIN_PASSWORD=123456
SECRET_KEY=your-secret-key
